body {
    background-image: url(login_page_wallpaper.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
}

.loginContainer {
    background-color: transparent;
    border: 2px solid white;
    box-shadow: 0 0 10px white;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    max-width: 480px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
        
      
}

#loginTitle {
    background-color: transparent;
    height: 25%;
    width: 100%;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(96, 106, 119);
    text-align: center;
    font-size: 3rem;
    
}

#emailSection {
    background-color: transparent;
    height: 25%;
    width: 100%;
}

#passwordSection {
    background-color: transparent;
    height: 25%;
    width: 100%;
}

#clickableButtons {
    background-color: transparent;
    height: 25%;
    width: 100%;
}

/* Email Folder idea */
/* .upsidedownTriangle {
    width: 0;
        height: 0;
        border-left: 120px solid transparent;
        border-right: 120px solid transparent;
        border-top: 100px solid rgb(255, 255, 255);
} */