body {
    background-image: url(login_page_wallpaper.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
}

.loginContainer {
    background-color: transparent;
    border: 2px solid white;
    box-shadow: 0 0 10px white;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    max-width: 480px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
        
      
}

#loginTitle {
    background-color: transparent;
    height: 25%;
    width: 100%;

}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(96, 106, 119);
    text-align: center;
    font-size: 3rem;
    
}

/* Section END */
/* --------------------------------------- */
/**** Email Section  Start ****/
#emailSection {
    background-color: transparent;
    height: 25%;
    width: 100%;
    display: flex;
    justify-content:center;
   
    /* border-bottom: 2px solid grey; */
}
    /* email input box */
    #email {
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: 2px solid white;


    }

   

/**** Email Section END ****/
/* --------------------------------------- */
/**** Password Section  Start ****/

#passwordSection {
    background-color: transparent;
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    
    /* border-bottom: 2px solid grey; */
}

    /* password input box */
    #password {
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: 2px solid white;
        
    }


/**** Password Section  END ****/
/* --------------------------------------- */
/**** Clickable Buttons Section  Start ****/

#clickableButtons {
    background-color: transparent;
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
}

    /* Login Button */
    #login {
        color: rgb(96, 106, 119);
        font-size: 1.2rem;
        border-radius: 5px;
    }

    #login:hover, login:focus {
        color: white;
        background-color: rgb(113, 128, 172);
        font-size: 1.2rem;
    }
    /* Check box container */
    .staySignedInContent {
        padding-bottom: 2%;
    }

   /* Check box */
    input[type="checkbox"] {
    accent-color: rgb(130, 119, 206);
    mix-blend-mode: multiply;
    height: 1rem;
    width: 1rem;
}



    
/**** Clickable Buttons Section  END ****/
/* --------------------------------------- */

section {
    border-bottom: 2px solid grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

section:last-child {
    border-bottom: none;
}

section:last-child span {
    justify-content: space-evenly;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(96, 106, 119);
    text-align: center;
    font-size: 0.8rem;
    font-weight: 400;
    padding-top: 2%;
    padding-bottom: 2%;
    
}

section:last-child span:hover {
    color: lightskyblue;
}

span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(96, 106, 119);
    text-align: center;
    font-size: 1rem;
    font-weight: 900;
}




#addInput {
    color: rgb(96, 106, 119);
    font-size: 1.5rem;

}

input {
    color: white;
    font-size: 1rem;
}

/* .upsidedownTriangle {
    width: 0;
        height: 0;
        border-left: 120px solid transparent;
        border-right: 120px solid transparent;
        border-top: 100px solid rgb(255, 255, 255);

} */